In [1]:
import sys
import os

# the following code is to replace the current path
# with the package's path   
current_path = os.getcwd()
current_path = current_path.replace('examples','Scripts')
sys.path.insert(0,current_path)
import capm

# the following code is to replace the current path
# with the package's path
current_path = os.getcwd()
current_path = current_path.replace('MagicFormula/examples','sigma-lib')
sys.path.insert(0,current_path)
from sigma_lib import awscloud

# Disable warnings
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

from datetime import date

In [2]:
servidor = awscloud.server()

{
    "StartingInstances": [
        {
            "CurrentState": {
                "Code": 16,
                "Name": "running"
            },
            "InstanceId": "i-054971003af7a51b0",
            "PreviousState": {
                "Code": 16,
                "Name": "running"
            }
        }
    ]
}

In [4]:
#servidor = awscloud.server(False)

In [24]:
#df_merc_vista = servidor.client_execute(['*','trade_da','tpmerc',['10']])
#df_merc_vista = df_merc_vista[df_merc_vista['datneg'] >= date(2021,1,1)].reset_index(drop=True)
#df_merc_vista.to_csv('~/Documents/Github/AlgebraQuant/MagicFormula/data/df_vista_2012-2020.csv',index=False)
df_merc_vista = pd.read_csv('~/Documents/Github/AlgebraQuant/MagicFormula/data/df_vista_2012-2020.csv')
df_merc_vista.tail(2)

,datneg,codneg,codisi,especi,tpmerc,dismes,preabe,premax,premin,preult,preexe,totneg,quatot,voltot,event1,event2,ajuste
396826,2022-05-23,BCRI11,BRBCRICTF009,CI,10,190,107.94,108.60,107.81,108.40,0.0,464,5357.0,578840.48,NaN,NaN,1.0
396827,2022-05-23,APTO11,BRAPTOCTF007,CI,10,105,10.02,10.12,9.90,10.01,0.0,133,1001.0,9976.90,NaN,NaN,1.0

In [29]:
df_acoes = df_merc_vista[df_merc_vista.especi.str.startswith('ON') |  df_merc_vista.especi.str.startswith('PN')].reset_index(drop=True)
df_acoes.tail(2)

,datneg,codneg,codisi,especi,tpmerc,dismes,preabe,premax,premin,preult,preexe,totneg,quatot,voltot,event1,event2,ajuste
133658,2022-05-23,FESA3,BRFESAACNOR8,ON N1,10,178,49.0,49.0,49.0,49.00,0.0,1,100.0,4900.0,NaN,NaN,1.0
133659,2022-05-23,USIM5,BRUSIMACNPA6,PNA N1,10,167,11.2,11.5,11.2,11.45,0.0,19960,14558800.0,165888886.0,NaN,NaN,1.0

In [36]:
#cdi = pd.read_csv('/home/felipe/Documents/Github/AlgebraQuant/MagicFormula/data/cdi_bacen.csv',sep=';')
#cdi = cdi[:2608]
#cdi['Date'] = pd.to_datetime(cdi['Date'],dayfirst=True)
#cdi['Date'] = pd.to_datetime(cdi['Date'])
#cdi = cdi.rename(columns={'12 - Interest rate - CDI - % p.d.':'rate'})
#cdi['rate'] = cdi['rate'].astype('float')
#cdi.to_csv('/home/felipe/Documents/Github/AlgebraQuant/MagicFormula/data/cdi_bacen.csv',sep=';')
df_cdi = pd.read_csv('/home/felipe/Documents/Github/AlgebraQuant/MagicFormula/data/cdi_bacen.csv',sep=';')
df_cdi.tail()

      Unnamed: 0        Date      rate
2603        2603  2022-05-16  0.047279
2604        2604  2022-05-17  0.047279
2605        2605  2022-05-18  0.047279
2606        2606  2022-05-19  0.047279
2607        2607  2022-05-20  0.047279