In [9]:
import pandas as pd
import matplotlib

In [10]:
# Test file
df_magic = pd.read_csv('../data/magic_stocks.csv')
df_magic

,balancing_on,codneg,nomres,codcvm,doc_env,per_fim,shares_outstanding,net_debt,ebit,roic,market_cap,enterprise_value,earnings_yield,rank_final
0,2011-04-11,AUTM3,AUTOMETAL,22381,2011-02-28 14:52:34,2010-12-31,94.425000,252.107,247.233,1.121955,1606.169250,1858.276250,0.133044,1
1,2011-04-11,ETER3,ETERNIT,5762,2011-03-11 11:18:46,2010-12-31,89.500000,-56.717,123.661,0.295037,987.185000,930.468000,0.132902,2
2,2011-04-11,TOTS3,TOTVS,19992,2011-01-31 19:05:59,2010-12-31,31.459000,179.421,211.669,0.185450,994.104400,1173.525400,0.180370,3
3,2011-04-11,VALE5,VALE,4170,2011-02-24 23:49:15,2010-12-31,5365.305000,30321.395,40442.258,0.206651,254959.293600,285280.688600,0.141763,4
4,2011-04-11,RAPT4,RANDON PART,14109,2011-03-16 07:37:57,2010-12-31,243.785000,69.816,450.228,0.190830,2913.230750,2983.046750,0.150929,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,2022-04-11,BMOB3,BEMOBI TECH,25500,2022-03-16 22:29:17,2021-12-31,90.909092,-513.733,84.873,1.289744,1421.818199,908.085199,0.093464,26
356,2022-04-11,BLAU3,BLAU,24627,2022-02-21 23:20:48,2021-12-31,179.393939,-548.304,456.624,0.431792,4859.781808,4311.477808,0.105909,27
357,2022-04-11,ODPV3,ODONTOPREV,20125,2022-02-23 18:10:22,2021-12-31,531.294792,-331.562,507.952,0.713691,5791.113233,5459.551233,0.093039,28
358,2022-04-11,BEEF3,MINERVA,20931,2022-02-23 21:43:02,2021-12-31,606.700828,6102.696,2035.418,0.223127,8251.131261,14353.827261,0.141803,29
359,2022-04-11,JHSF3,JHSF PART,20605,2022-02-24 19:37:23,2021-12-31,686.224353,1099.498,1113.511,0.168846,4412.422590,5511.920590,0.202019,30

In [11]:
# Load the CVM table with the registrations of open capital companies
CVM_PATH = "../data/external/cad_cia_aberta.csv"
df_sectors = pd.read_csv(
    CVM_PATH, sep=";",
    encoding="iso-8859-1",
    parse_dates=['DT_REG', 'DT_INI_SIT', 'DT_CANCEL']
)
cols = ['DENOM_SOCIAL', 'DT_REG', 'DT_CANCEL', 'SIT', 'DT_INI_SIT', 'CD_CVM',
       'SETOR_ATIV', 'CONTROLE_ACIONARIO']
df_sectors = (df_sectors
    .loc[:, cols]
    .sort_values('DT_INI_SIT', ignore_index=True)
    .drop_duplicates(subset="CD_CVM", keep="last")
    .sort_values("CD_CVM", ignore_index=True)
    .rename(columns={'CD_CVM': 'codcvm'})
    [['codcvm', 'SETOR_ATIV']]
)
df_sectors

      codcvm                                         SETOR_ATIV
0         35                            Emp. Adm. Participações
1         60                            Metalurgia e Siderurgia
2         78                            Metalurgia e Siderurgia
3         86                            Metalurgia e Siderurgia
4         94                            Metalurgia e Siderurgia
...      ...                                                ...
2443   26816                          Comunicação e Informática
2444   26824                        Securitização de Recebíveis
2445   26832                                   Energia Elétrica
2446   26840                        Securitização de Recebíveis
2447   26859  Emp. Adm. Part. - Serviços Transporte e Logística

[2448 rows x 2 columns]

In [12]:
df_sectors.query('codcvm == 18724')

      codcvm                          SETOR_ATIV
1634   18724  Emp. Adm. Part. - Extração Mineral

In [13]:
df = pd.merge(df_magic, df_sectors)
df

,balancing_on,codneg,nomres,codcvm,doc_env,per_fim,shares_outstanding,net_debt,ebit,roic,market_cap,enterprise_value,earnings_yield,rank_final,SETOR_ATIV
0,2011-04-11,AUTM3,AUTOMETAL,22381,2011-02-28 14:52:34,2010-12-31,94.425000,252.107,247.233,1.121955,1606.169250,1858.276250,0.133044,1,"Máquinas, Equipamentos, Veículos e Peças"
1,2012-04-09,AUTM3,AUTOMETAL,22381,2012-02-29 18:11:32,2011-12-31,125.908000,-262.426,239.791,0.182583,2051.041320,1788.615320,0.134065,7,"Máquinas, Equipamentos, Veículos e Peças"
2,2013-04-10,AUTM3,AUTOMETAL,22381,2013-02-28 06:18:01,2012-12-31,125.908000,-85.903,213.968,0.153705,2670.508680,2584.605680,0.082786,12,"Máquinas, Equipamentos, Veículos e Peças"
3,2014-04-10,AUTM3,AUTOMETAL,22381,2014-02-28 07:58:13,2013-12-31,125.908000,557.198,262.840,0.148391,2275.157560,2832.355560,0.092799,19,"Máquinas, Equipamentos, Veículos e Peças"
4,2011-04-11,ETER3,ETERNIT,5762,2011-03-11 11:18:46,2010-12-31,89.500000,-56.717,123.661,0.295037,987.185000,930.468000,0.132902,2,"Construção Civil, Mat. Constr. e Decoração"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,2022-04-11,SYNE3,SYN PROP TEC,21040,2022-02-25 00:12:00,2021-12-31,152.644000,860.170,1634.237,0.268649,943.339920,1803.509920,0.906143,13,"Emp. Adm. Part. - Const. Civil, Mat. Const. e ..."
356,2022-04-11,MLAS3,MULTILASER,26034,2022-03-24 23:45:31,2021-12-31,820.539225,-362.409,778.478,0.290441,4824.770643,4462.361643,0.174454,17,Comunicação e Informática
357,2022-04-11,PDTC3,PADTEC,18414,2022-03-15 18:02:05,2021-12-31,78.450000,20.339,55.339,0.294074,401.664000,422.003000,0.131134,23,Emp. Adm. Part. - Comunicação e Informática
358,2022-04-11,BMOB3,BEMOBI TECH,25500,2022-03-16 22:29:17,2021-12-31,90.909092,-513.733,84.873,1.289744,1421.818199,908.085199,0.093464,26,Comunicação e Informática
359,2022-04-11,BLAU3,BLAU,24627,2022-02-21 23:20:48,2021-12-31,179.393939,-548.304,456.624,0.431792,4859.781808,4311.477808,0.105909,27,Farmacêutico e Higiene

In [14]:
df['SETOR_ATIV'].value_counts() #  hist()

Construção Civil, Mat. Constr. e Decoração                 48
Máquinas, Equipamentos, Veículos e Peças                   36
Têxtil e Vestuário                                         32
Comércio (Atacado e Varejo)                                31
Alimentos                                                  24
Serviços Transporte e Logística                            23
Serviços Médicos                                           18
Emp. Adm. Part. - Const. Civil, Mat. Const. e Decoração    17
Metalurgia e Siderurgia                                    14
Agricultura (Açúcar, Álcool e Cana)                        11
Emp. Adm. Part. - Comércio (Atacado e Varejo)              11
Comunicação e Informática                                  10
Educação                                                    9
Extração Mineral                                            9
Farmacêutico e Higiene                                      9
Petroquímicos e Borracha                                    9
Papel e Celulose                                            8
Emp. Adm. Part. - Serviços Transporte e Logística           6
Hospedagem e Turismo                                        5
Emp. Adm. Part. - Petróleo e Gás                            5
Emp. Adm. Part. - Telecomunicações                          5
Brinquedos e Lazer                                          4
Emp. Adm. Part. - Extração Mineral                          3
Emp. Adm. Part. - Têxtil e Vestuário                        3
Gráficas e Editoras                                         2
Petróleo e Gás                                              2
Emp. Adm. Part. - Máqs., Equip., Veíc. e Peças              1
Emp. Adm. Part. - Alimentos                                 1
Emp. Adm. Part. - Educação                                  1
Emp. Adm. Part. - Metalurgia e Siderurgia                   1
Emp. Adm. Part. - Petroquímicos e Borracha                  1
Emp. Adm. Part. - Comunicação e Informática                 1
Name: SETOR_ATIV, dtype: int64

In [15]:
df_top10 = (df['SETOR_ATIV']
    .str.replace("Emp. Adm. Part. - ", "", regex=False)
    .value_counts(normalize=True)
    .head(10)
    # .sum()
    # .to_markdown()
) * 100
print(df_top10.round(1).to_markdown())

|                                            |   SETOR_ATIV |
|:-------------------------------------------|-------------:|
| Construção Civil, Mat. Constr. e Decoração |         13.3 |
| Comércio (Atacado e Varejo)                |         11.7 |
| Máquinas, Equipamentos, Veículos e Peças   |         10   |
| Têxtil e Vestuário                         |          9.7 |
| Serviços Transporte e Logística            |          8.1 |
| Alimentos                                  |          6.9 |
| Serviços Médicos                           |          5   |
| Const. Civil, Mat. Const. e Decoração      |          4.7 |
| Metalurgia e Siderurgia                    |          4.2 |
| Extração Mineral                           |          3.3 |

In [16]:
(df['SETOR_ATIV']
    .str.replace("Emp. Adm. Part. - ", "", regex=False)
    .value_counts(normalize=True)
    .head(5)
    .sum()
)

0.5277777777777778